*{
    font-family: sans-serif;
}
:root{
    --dark_blue: #28527A;
    --light_blue: #8AC4D0;
    --yellow: #F4D160;
    --light_yellow: #FBEEAC;
}

header{
    color: var(--light_yellow);
    background-color: var(--dark_blue);
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.head-section{
    display: flex;
    padding: 0 30px;
    width: 900px;
    max-width: 900px;

    justify-content: space-between;
}

body{
    min-width: 375px;
    background-color: var(--light_yellow);
}

footer{
    position:absolute;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    bottom:0px;
    color: var(--light_yellow);
    background-color: var(--dark_blue);
}

.app-name{
    color:var(--dark_blue);
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}

.main-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-input{
    height: 35px;
    border-radius: 20px;
    font-size: 20px;
}

.add-song-section{
    margin-top: 50px;
}

.add-song{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-song-bt{
    color:var(--dark_blue);
    font-weight: bold;
    border:1px solid var(--dark_blue);
    border-radius: 20px;
    height: 50px;
    background-color: var(--light_blue);
    margin: 50px 0;
    width: 200px;
    cursor: pointer;
}

.add-song-bt:hover{
    color: var(--dark_blue);
    background-color: #F4D160;
}